@model LocalProduceApp.Models.Produce

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Produce</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" asp-route-user="@User.Identity?.Name">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProduceName" class="control-label"></label>
                <input asp-for="ProduceName" class="form-control" />
                <span asp-validation-for="ProduceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PickupPlace" class="control-label"></label>
                <input asp-for="PickupPlace" class="form-control" />
                <span asp-validation-for="PickupPlace" class="text-danger"></span>
            </div>
            @* Changed this to hidden, to always store the email that has been used for logging in *@

            <div class="form-group">
                <input type="hidden" asp-for="ProducerEmail" value=@User.Identity?.Name class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Theme" class="control-label"></label>
                <select asp-for="Theme" class="form-control">

                    <option>Fruit and vegetables</option>
                    <option>Eggs and dairy</option>
                    <option>Meat</option>
                    <option>Plants and seed</option>
                    <option>Bread and bakery</option>
                </select>
                <span asp-validation-for="Theme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgFile" class="control-label"></label>
                <input asp-for="ImgFile" class="form-control" />
                <span asp-validation-for="ImgFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProducerId" class="control-label"></label>
                <select asp-for="ProducerId" class="form-control" asp-items="ViewBag.ProducerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
